[Dd]ebug/
[Dd]ist/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.log

~$*
*~
CodeCoverage/
*.binlog

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml
nunit-*.xml

.vs/*
obj/*

.DS_Store
*.csproj.user
*.AppImage

.build

*.etc2
assets/binandroid/
assets/objandroid/
icon.ico